customtkinter
pillow
qrcode[pil]
flask
requests
pywhatkit
keyboard
SpeechRecognition
sounddevice
numpy
pyttsx3
pygame
psutil
send2trash
screen-brightness-control
pyperclip
opencv-python
plyer
pystray
